# Token bot Discord
DISCORD_TOKEN=INSERISCI_TOKEN_BOT

# ID server principale FiveM
MAIN_GUILD_ID=1505903653079351357

# ID server Discord EMS / Medici
EMS_GUILD_ID=INSERISCI_ID_SERVER_MEDICI

# Canale dove i membri scrivono demisia
DEMISIE_CHANNEL_ID=INSERISCI_ID_CANALE_DEMISIE

# Canale log nel server EMS
EMS_LOG_CHANNEL_ID=INSERISCI_ID_CANALE_LOG_EMS

# Canale log nel server principale FiveM
MAIN_LOG_CHANNEL_ID=INSERISCI_ID_CANALE_LOG_MAIN

# Ruoli staff che possono accettare/refuzare demisii, separati da virgola
STAFF_ROLE_IDS=ID_RUOLO_1,ID_RUOLO_2,ID_RUOLO_3

# Opzionali
BOT_PREFIX=!
DB_PATH=/data/legacy_ems.db
TIMEZONE=Europe/Bucharest
DELETE_TRIGGER_MESSAGE=false
